.vertical-horizontal-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
<<<<<<< HEAD
}

.i-block {
    display: inline-block;
}

.padding50 {
    padding: 50px;
}

.min-width40 {
    min-width: 40%;
}

.relative {
    position: relative;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
     box-shadow: 0 0.5em 2em 0 rgba(0,0,0,0.5);
}

.fadein {

}

.fadeOut {

}

@media(max-width:320px) {
    .i-block {
    display: block;
    width:90%;
    }
}
* {
    font-family: 'Roboto', sans-serif;
}
/*Dee's edit*/
/*
.vertical-horizontal-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.i-block {
    display: inline-block;
}

.padding50 {
    padding: 50px;
}

.min-width40 {
    min-width: 40%;
}

.relative {
    position: relative;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
     box-shadow: 0 0.5em 2em 0 rgba(0,0,0,0.5);
}

.fadein {

}

.fadeOut {

}

=======
}

.i-block {
    display: inline-block;
}

.padding50 {
    padding: 50px;
}

.min-width40 {
    min-width: 40%;
}

.relative {
    position: relative;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
     box-shadow: 0 0.5em 2em 0 rgba(0,0,0,0.5);
}

.fadein {

}

.fadeOut {

}

>>>>>>> 55981808813bee70446fa0381e6b10f50c352910
@media(max-width:320px) {
    .i-block {
    display: block;
    width:90%;
    }
}
*/
